<% if @book.errors.any? %>
    <%= @book.errors.count %>erros prohiblited this book from being saved:
    <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
    <% end %>
    </ul>
<% end %>


<div class="edit1">
  <h2>Editing Book</h2>

  <%= form_with model: @book do |f| %>

  <div class="edit2">
    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>
  </div>

  <div class="edit3">
    <p><%= f.submit 'Update Book' %></p>
 </div>

  <div class="edit4">
    <span><%= link_to "Show",book_path(@book.id) %></span>
    <span> | </span>
    <span><%= link_to "Back",books_path %></span>
  </div>
</div>

<% end %>
