<div class="show1">
  <div class="show2">
    <%= flash[:notice] %>
  </div>

  <div class="show3">
    <h5>Title:</h5>
    <span><%= @book.title %></span>
  </div>

  <div class="show4">
    <h5>Body:</h5>
    <p><%= @book.body %></p>
  </div>

</div>

<div class="show5">
  <span><%= link_to "Edit", edit_book_path(@book.id) %></span>
  <span>|</span>
  <span><%= link_to "Back", books_path %></span>
</div>